/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
#body {
    background-color: #FFFDF5;
    color: #5C4033;
}

.navbar {
    display: flex;
    /* list-style: none; */
    text-align: center;
    background-color: #800000;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

}
.logo {
    color: white;
}
.links {
    display: flex;
    gap: 20px;
}

/* hero-section start */

.hero-section {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: end;
}

.hero-section h1 {
flex:1;
background-color: yellow;
}
.hero-section p {
 flex:1;
 background-color: tomato;
}

/* hero-section end */


a {
text-decoration: none;
color: #F5F5DC;
}

a:hover{
    color: #FFD700;
    transition: 0.3s ease;
}

/* li {
    display: inline-block;
    padding: 20px 20px; 
}



/* h1 {
    text-align: center;
    margin-top: 10px;
      color: #9B1C1C;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
} */