* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    background-color: #946767;
    color: #ff0000;
    font-family: style;



}

li {
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
}

li:hover {
    color: #00ffff;
}

h1 {
    text-align: center;
    background-color: aqua;
    margin-top: 10px;
}